/* :root {
    --vermelho: #e50914;
    --preto: #141414;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: #141414;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding: 7px 20px;
    z-index: 100000;
}

header.sticky{
    background: #141414;
    transition: 0.6s;
}


.container {
    display: flex;
    align-items: center;
}

.rigth-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 40px; */
}

.nav-menu{
    margin-left: 10px;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #e50914;
    text-decoration: none;
    /* font-family: 'Arial Black', Times; */
    font-size: 25px;
    transition: 0.6s; 
    margin-right: 35px;
}

.list-nav{
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    transition: 0.6s; 
    font-weight: 100;
}

header div a.list-nav:hover{
    color: #aaa;
}

/* header nav a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  } */

/*Elementos princiapal*/

section.cprincipal {
    /* font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("../img/dexterNB-capa.jpg");
    background-size: cover;
    height: 500px;
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/dexterNB-capa.jpg");
    background-size: cover;
    border: 1px solid transparent;
}

.cprincipal .sinopse {
    margin-top: 10px;
    margin-bottom: 25px;
}

.cprincipal .titulo {
    margin-top: 15%;
    font-size: 40px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'; */
}

.btn {
    background-color: rgba(0, 0, 0, .90);
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .9s ease all;
    border-radius: 7px;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

.btn i {
    margin-right: 7px;
    font-size: 22px;
}


.cprincipal .container {
    width: 40%;
}

.box-filme {
    height: 80%;
    width: 20%;
    display: block;
}